/*
* Coding style for js based on gitHub markdown
*/

/* #region Javascript */

.lang-js > .tags {
  color: #d73a49;
}

.lang-js > .keyword {
  color: #3279de;
}

.lang-js > .function-name {
  color: #8742ca;
}

/* #endregion Javascript */
