/*
* Coding style for js based on gitHub markdown
*/

/* #region Javascript */

.code > .keyword,
.code > .symbols {
  color: #ff3145;
}

.code > .string {
  color: #f18d09;
}

.code > .predefined-values {
  color: #80b5ff;
}

.code > .function-name {
  color: #b162ff;
}

/* #endregion Javascript */
