/*
* Coding style for js based on gitHub markdown
*/

/* #region Javascript */

.code > .keyword,
.code > .symbols {
  color: #d73a49;
}

.code > .string {
  color: #7D2727;
}

.code > .predefined-values {
  color: #3279de;
}

.code > .function-name {
  color: #8742ca;
}

/* #endregion Javascript */
