/* CSS obtained when exporting site from stack edit. It has been optimized later on. */

html {
  color: #050505;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.67;

  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* Makes the fonts to look smoothly in Mac OS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}

h1 {
  font-size: 2em;
}
h1,
h3,
h5 {
  margin: 1.8em 0;
  line-height: 1.33;
}
h1:after {
  content: "";
  display: block;
  position: relative;
  top: 0.33em;
  border-bottom: 1px solid #d5d5d5;
}

pre {
  font-family: monospace;
  font-size: 1em;
  margin: 1.2em 0;
}
code {
  font-family: monospace;
  font-size: 1em;
  background-color: #f6f8fa;
  border-radius: 3px;
  padding: 2px 4px;
}
pre > code {
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  white-space: pre;
}

img {
  border-style: none;
  max-width: 100%;
}

ol,
p {
  margin: 1.2em 0;
}

a {
  background-color: transparent;
  color: #0c93e4;
  text-decoration: underline;
  text-decoration-skip: ink;
}
a:focus,
a:hover {
  text-decoration: none;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
}
td,
th {
  border-right: 1px solid #dcdcdc;
  padding: 8px 12px;
}
td:last-child,
th:last-child {
  border-right: 0;
}
td {
  border-top: 1px solid #dcdcdc;
}

.stackedit__html {
  margin-bottom: 180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 750px;
}
