/* 
* Linter used: https://stylelint.io
*/

html {
  color: #050505;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.67;

  /* To adjust how text is rendered when zoom in or out 100% and auto or same */
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* Makes the fonts to look smoothly in Mac OS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 750px;
}

/* #region Heading tags */

h1 {
  font-size: 2em;
  margin: 1.7em 0 1.2em 0;
}

h3,
h4 {
  margin: 1.2em 0 1.2em 0;
  line-height: 1.33;
}

h1::after {
  content: "";
  display: block;
  position: relative;
  top: 0.33em;
  border-bottom: 1px solid #c0c0c0;
}

/* #endregion Heading tags */

/* #region Code blocks */

pre {
  font-family: monospace;
  font-size: 1em;
  margin: 1.2em 0;
}

code {
  font-family: monospace;
  font-size: 1em;
  color: #000;
  background-color: #e6e6e6;
  border-radius: 3px;
  padding: 2px 4px;
}

pre > code {
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  white-space: pre;
}

/* #endregion Code blocks */

/* #region Links */

a {
  background-color: transparent;
  color: #0c93e4;
  text-decoration: underline;
}

a:visited {
  color: #01558a;
}

/* #endregion Links */

/* #region Tables */

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1;
  display: block;
  overflow-x: auto;
}

td,
th {
  border-right: 1px solid #c0c0c0;
  padding: 8px 12px;
}

td {
  border-top: 1px solid #c0c0c0;
}

td:last-child,
th:last-child {
  border-right: 0;
}

/* #endregion Tables */

img {
  border-style: none;
  max-width: 100%;
}

ol,
p {
  margin: 1.2em 0;
}
