<div class="footer footer--dark">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__data">
                <div class="footer__data__item">
                    <div class="footer__row">
                        <a href="/" class="footer__textLogo">SXW.js</a>
                        © 2020 Kolappan Nathan.
                    </div>
                    <div class="footer__row">
                        <a href="/pages/credits.html" class="footer__link">Contributors</a>
                    </div>
                    <div class="footer__row">
                        <a href="https://github.com/sxwjs/sxwjs" target="_blank" rel="noopener" class="footer__link">GitHub</a>
                    </div>
                </div>
                <div class="footer__data__item">
                    <div class="footer__row">
                        Facing trouble with SXW.js
                    </div>
                    <div class="footer__row">
                        <a href="https://github.com/sxwjs/sxwjs/issues" target="_blank" rel="noopener" class="footer__link">Raise
                            an issue</a>
                    </div>
                    <div class="footer__row">
                        <a href="https://github.com/sxwjs/sxwjs/pulls" target="_blank" rel="noopener" class="footer__link">Submit a
                            Pull request</a>
                    </div>
                </div>
                <div class="footer__data__item">
                    <div class="footer__row">
                        Spread the word
                    </div>
                    <div class="footer__row">
                        <a href="https://www.linkedin.com/shareArticle?url=https://sxw.js.org/" target="_blank" rel="noopener" class="footer__link">Linkedin</a>
                    </div>
                    <div class="footer__row">
                        <a href="https://twitter.com/intent/tweet?url=https://sxw.js.org/" target="_blank" rel="noopener"
                            class="footer__link">Twitter</a>
                    </div>
                    <div class="footer__row">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://sxw.js.org/" target="_blank" rel="noopener"
                            class="footer__link">Facebook</a>
                    </div>
                </div>
                <div class="footer__data__item">
                    <div class="footer__row">Docs
                    </div>
                    <div class="footer__row">
                        <a href="/docs/installation.html" class="footer__link">Installation</a>
                    </div>
                    <div class="footer__row">
                        <a href="/docs/usage.html" class="footer__link">Basic Usage</a>
                    </div>
                    <div class="footer__row">
                        <a href="/docs/customization.html" class="footer__link">Customizations</a>
                    </div>
                    <div class="footer__row">
                        <a href="/docs/demo.html" class="footer__link">Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>